@font-face {
    font-family: LocatorWeb;
    src: url(/assets/font/LocatorWeb_WOFF/LocatorWebRegular.woff);
    font-weight:normal;
    font-style: normal;
}
@font-face {
    font-family: LocatorWeb;
    src: url(/assets/font/LocatorWeb_WOFF/LocatorWebBold.woff);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: LocatorWeb;
    src: url(/assets/font/LocatorWeb_WOFF/LocatorWebBoldItalic.woff);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: LocatorWeb;
    src: url(/assets/font/LocatorWeb_WOFF/LocatorWebRegularItalic.woff);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: LocatorWeb;
    src: url(/assets/font/LocatorWeb_WOFF/LocatorWebLightItalic.woff);
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: LocatorWeb;
    src: url(/assets/font/LocatorWeb_WOFF/LocatorWebLight.woff);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: LocatorWeb;
    src: url(/assets/font/LocatorWeb_WOFF/LocatorWebRegularItalic.woff);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: LocatorWeb;
    src: url(/assets/font/LocatorWeb_WOFF/LocatorWebBlack.woff);
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: LocatorWeb;
    src: url(/assets/font/LocatorWeb_WOFF/LocatorWebBlackItalic.woff);
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: LocatorWeb;
    src: url(/assets/font/LocatorWeb_WOFF/LocatorWebUltraLight.woff);
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: LocatorWeb;
    src: url(/assets/font/LocatorWeb_WOFF/LocatorWebUltraLightItalic.woff);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: LocatorWeb;
    src: url(/assets/font/LocatorWeb_WOFF/LocatorWebMedium.woff);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: LocatorWeb;
    src: url(/assets/font/LocatorWeb_WOFF/LocatorWebMedium.woff);
    font-weight: 500;
    font-style: italic;
}


body {
    margin:10px;
    padding:10px;
    background-color: #ffffff;
}

div, p {
    color: #333333;
    font-family: LocatorWeb, Verdana, Arial, Helvetica, MS Sans-Serif;
    font-size: 13px;
    font-style: normal;
}
h1 {
    font-family: LocatorWeb, Georgia, Times New Roman, MS Serif;
    font-size: 18px;
    font-weight: normal;
    color: #062E76;
}
a {
    color: #2574a9;
    font-family : LocatorWeb, Verdana, Arial, Helvetica, MS Sans-Serif;
    font-size : 11px;
    font-style : normal;
    text-decoration : none !important;

}
.input{
    max-width: 500px;
}
.input-checking{
    max-width: 250px;
}
.input-cvc{
    max-width: 150px;
}
.button{
    color: #2574a9;
    font-family :LocatorWeb, Verdana, Arial, Helvetica, MS Sans-Serif;
    font-size : 11px;
    font-style : normal;
}
.float-right{
    float: right;
}