<html>
	<head>
		<title>Create a Payment Method - ACH/Bank Account</title>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/styles/salesforce-lightning-design-system.min.css">
		<link rel="stylesheet" href="/styles/style.css">
	</head>

	<body>
		<div class="slds-path-coach">
		  <div class="slds-grid">
		    <div class="slds-tabs_path" role="application">
		      <ul class="slds-tabs_path__nav" role="listbox" aria-orientation="horizontal">
		        <li class="slds-tabs_path__item slds-is-current" role="presentation">
		          <a aria-selected="true" class="slds-tabs_path__link" href="javascript:void(0);" id="path-1" role="option" tabindex="0">
		            <span class="slds-tabs_path__stage">
		              <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
		                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
		              </svg>
		              <span class="slds-assistive-text">Current Stage:</span>
		            </span>
		            <span class="slds-tabs_path__title">Add Account</span>
		          </a>
		        </li>
		        <li class="slds-tabs_path__item slds-is-incomplete" role="presentation">
		          <a aria-selected="false" class="slds-tabs_path__link" href="javascript:void(0);" id="path-2" role="option" tabindex="-1">
		            <span class="slds-tabs_path__stage">
		              <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
		                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
		              </svg>
		            </span>
		            <span class="slds-tabs_path__title">Verify</span>
		          </a>
		        </li>
		        <li class="slds-tabs_path__item slds-is-incomplete" role="presentation">
		          <a aria-selected="false" class="slds-tabs_path__link" href="javascript:void(0);" id="path-3" role="option" tabindex="-1">
		            <span class="slds-tabs_path__stage">
		              <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
		                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
		              </svg>
		            </span>
		            <span class="slds-tabs_path__title">Complete</span>
		          </a>
		        </li>
		      </ul>
		    </div>
		  </div>
		</div>

		<div class="slds-form-element slds-p-top_x-large">

			<div>
			Please enter your banking account information in the fields below.  When completed, press "Continue" to proceed.
			</div>

			<div class="slds-p-top_x-large"></div>

			<label class="slds-form-element__label" for="account-name">Name on Account:</label>
			<div class="slds-form-element__control">
				<input type="text" id="account-name" maxlength="80" required class="slds-input input" placeholder="Full name as it appears on your bank statement.">
			</div>

			<fieldset class="slds-form-element">
				<div class="slds-form-element__control">
					<span class="slds-radio">
						<input type="radio" id="account-checking" checked name="account-options" value="on">
						<label class="slds-radio__label" for="account-checking">
							<span class="slds-radio_faux"></span>
							<span class="slds-form-element__label">Checking</span>
						</label>
					</span>
					<span class="slds-radio">
						<input type="radio" id="account-savings" name="account-options" value="on">
						<label class="slds-radio__label" for="account-savings">
							<span class="slds-radio_faux"></span>
							<span class="slds-form-element__label">Savings</span>
						</label>
					</span>
				</div>
			</fieldset>


			<label class="slds-form-element__label" for="account-routing">Routing Number:</label>
			<div class="slds-form-element__control slds-is-required">
				<input  type="text" maxlength="9" required id="account-routing" class="slds-input input" placeholder="">
				<span class="slds-icon_container slds-icon-utility-announcement" title="Show Account number/Routing number image">
  					<svg class="slds-icon slds-icon-text-default" aria-hidden="true">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#info"></use>
					</svg>
  					<span class="slds-assistive-text">Click to see image of Routing and checking account numbers</span>
				</span>
			</div>


			<label class="slds-form-element__label" for="account-number">Account Number:</label>
			<div class="slds-form-element__control slds-is-required ">
				<input type="text" id="account-number" maxlength="17" required class="slds-input input" placeholder="">
				<span class="slds-icon_container slds-icon-utility-announcement" title="Show Account number/Routing number image">
					<svg class="slds-icon slds-icon-text-default" aria-hidden="true">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#info"></use>
					</svg>
					<span class="slds-assistive-text">Click to see image of Routing and checking account numbers</span>
				</span>
			</div>

			<!--todo When clicking the info icons above, javascript should remove the slds-hidden class below-->
			<div class="slds-hide">
				<img src="/assets/images/checkBottom.gif" border="0" />
			</div>

			<fieldset class="slds-form-element slds-is-required">
				<legend class="slds-form-element__legend slds-form-element__label">Type:</legend>
				<div class="slds-form-element__control">
					<span class="slds-radio">
						<input type="radio" id="account-type-personal" checked name="account-type" value="on">
						<label class="slds-radio__label" for="account-type-personal">
							<span class="slds-radio_faux"></span>
							<span class="slds-form-element__label">Personal</span>
						</label>
					</span>
					<span class="slds-radio">
						<input type="radio" id="account-type-commercial" name="account-type" value="on">
						<label class="slds-radio__label" for="account-type-commercial">
							<span class="slds-radio_faux"></span>
							<span class="slds-form-element__label">Commercial</span>
						</label>
					</span>
				</div>
			</fieldset>

			<!--todo when commercial is checked above, slds-hidden class should be removed below.-->
			<div class="slds-hide">
			<label class="slds-form-element__label" for="account-number">Company Name:</label>
			<div class="slds-form-element__control">
				<input type="text" maxlength="60" id="company-name" class="slds-input input" placeholder="">
			</div>
			</div>
			<div class="slds-p-top_x-large"></div>

			<div class="slds-button-group" role="group">
				<button class="slds-button slds-button_neutral"><a href="/views/Index.html">Cancel</a></button>
				<button class="slds-button slds-button_neutral">Clear</button>
				<button class="slds-button slds-button_neutral"><a href="/views/CPM%20-%20New%20Bank%20Account%20-%20Verify.html">Continue</a></button>
			</div>

		</div>


	</body>
</html>