<!DOCTYPE html>
<html lang="en">
<head>
    <title>One Time Payment Method - Credit Card Account</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/salesforce-lightning-design-system.min.css">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>


<div class="slds-path-coach">
    <div class="slds-grid">
        <div class="slds-tabs_path" role="application">
            <ul class="slds-tabs_path__nav" role="listbox" aria-orientation="horizontal">
                <li class="slds-tabs_path__item slds-is-current" role="presentation">
                    <a aria-selected="true" class="slds-tabs_path__link" href="javascript:void(0);" id="path-1" role="option" tabindex="0">
		            <span class="slds-tabs_path__stage">
		              <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                      </svg>
		              <span class="slds-assistive-text">Current Stage:</span>
		            </span>
                        <span class="slds-tabs_path__title">Add Account</span>
                    </a>
                </li>
                <li class="slds-tabs_path__item slds-is-incomplete" role="presentation">
                    <a aria-selected="false" class="slds-tabs_path__link" href="javascript:void(0);" id="path-2" role="option" tabindex="-1">
		            <span class="slds-tabs_path__stage">
		              <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                      </svg>
		            </span>
                        <span class="slds-tabs_path__title">Verify</span>
                    </a>
                </li>
                <li class="slds-tabs_path__item slds-is-incomplete" role="presentation">
                    <a aria-selected="false" class="slds-tabs_path__link" href="javascript:void(0);" id="path-3" role="option" tabindex="-1">
		            <span class="slds-tabs_path__stage">
		              <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                      </svg>
		            </span>
                        <span class="slds-tabs_path__title">Complete</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div>
    <div>
        <img src="/assets/images/credit-cards.jpg" border="0"/>
    </div>
</div>

<div class="slds-form-element">
    <label class="slds-form-element__label" for="card-number">Card Number:</label>
    <div class="slds-form-element__control">
        <input type="text" maxlength="16" required id="card-number" class="slds-input" >
    </div>
    <label class="slds-form-element__label" for="card-verification">Card Verification:</label>
    <div class="slds-form-element__control">
        <input type="text" maxlength="4" required id="card-verification" class="slds-input">
    </div>

    <!--todo should be hidden until needed add icon above, convert images to anchors using image as background
      todo link to open up bigger help image - or really, just replace all of this with one better image.... -->
    <div class="slds-hidden" >
        <p>Click on the symbols below for more information</p>
        <a>
            <img src="/assets/images/smVisa.gif" border="0" />
        </a>
        <a>
            <img src="/assets/images/smMastercard.gif" border="0" />
        </a>
        <a>
            <img src="/assets/images/smDiscover.gif" border="0" />
        </a>
        <a>
            <img src="/assets/images/smAmEx.gif" border="0" />
        </a>
    </div>


    <label class="slds-form-element__label" for="card-expire">Expiration Date:</label>
    <div class="slds-form-element__control">
        <input type="text" id="card-expire" required maxlength="7" class="slds-input" placeholder="mm/yyyy">
    </div>
    <fieldset class="slds-form-element slds-is-required">
        <legend class="slds-form-element__legend slds-form-element__label">Type:</legend>
        <div class="slds-form-element__control">
					<span class="slds-radio">
						<input type="radio" id="card-type-personal" checked name="account-type" value="on">
						<label class="slds-radio__label" for="card-type-personal">
                            <span class="slds-radio_faux"></span>
                            <span class="slds-form-element__label">Personal</span>
                        </label>
					</span>
					<span class="slds-radio">
						<input type="radio" id="card-type-commercial" name="account-type" value="on">
						<label class="slds-radio__label" for="card-type-commercial">
                            <span class="slds-radio_faux"></span>
                            <span class="slds-form-element__label">Commercial</span>
                        </label>
					</span>
        </div>
    </fieldset>
    <label class="slds-form-element__label" for="company-name">Company::</label>
    <div class="slds-form-element__control">
        <input type="text" id="company-name" maxlength="60"  class="slds-input" placeholder="Company name if applicable">
    </div>
    <label class="slds-form-element__label" for="card-name">Name on Card:</label>
    <div class="slds-form-element__control">
        <input type="text" id="card-name" maxlength="80" required  class="slds-input" placeholder="Cardholder Name">
    </div>
    <label class="slds-form-element__label" for="card-add1">Billing Address Line 1:</label>
    <div class="slds-form-element__control">
        <input type="text" id="card-add1" maxlength="60" required class="slds-input" placeholder="1234 street">
    </div>
    <label class="slds-form-element__label" for="card-add2">Billing Address Line 2:</label>
    <div class="slds-form-element__control">
        <input type="text" id="card-add2" maxlength="60" class="slds-input" placeholder="apt # 7">
    </div>
    <div class="slds-form slds-form_compound">
        <fieldset class="slds-form-element">
            <legend class="slds-form-element__label"></legend>
            <div class="slds-form-element__group">
                <div class="slds-form-element__row">
                    <div class="slds-form-element slds-size_1-of-3">
                        <label class="slds-form-element__label" for="card-city">City</label>
                        <input type="text" maxlength="32" required id="card-city" class="slds-input">
                    </div>
                    <div class="slds-form-element slds-size_1-of-3">
                        <label class="slds-form-element__label" for="card-state">State</label>
                        <input type="text" maxlength="2" required id="card-state" class="slds-input">
                    </div>
                    <div class="slds-form-element slds-size_1-of-3">
                        <label class="slds-form-element__label" for="card-zip">Zip</label>
                        <input type="text" maxlength="12" required id="card-zip" class="slds-input">
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

    <fieldset class="slds-form-element">
        <legend class="slds-form-element__legend slds-form-element__label"></legend>
        <div class="slds-form-element__control">
      <span class="slds-checkbox">
        <input type="checkbox" name="default" id="save-payment" value="on">
        <label class="slds-checkbox__label" for="save-payment">
            <span class="slds-checkbox_faux"></span>
            <span class="slds-form-element__label">Save this payment information</span>
        </label>
      </span>
        </div>
    </fieldset>


    <div class="slds-p-top_x-large"></div>

    <div class="slds-button-group" role="group">
        <button class="slds-button slds-button_neutral"><a href="/views/Index.html">Cancel</a></button>
        <button class="slds-button slds-button_neutral">Clear</button>
        <button class="slds-button slds-button_neutral"><a href="/views/OTP%20-%20Bank%20Verify.html">Verify and Continue</a></button>
    </div>
</div>



</body>
</html>